@use '../../../constants/colors.scss';

#addTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.buzz, .buzz:focus, .buzz:hover {
    background-color: colors.$orange !important;
}

.addInput {
    width: 60% !important;
    margin: 5%;
}