@use '../../../constants/colors.scss';

#addTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    & .buzz {
        background-color: colors.$orange;
    }
}

.addInput {
    width: 60% !important;
    margin: 5%;
}