@use "../../constants/colors";

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#logo {
    max-width: min(100vw, 800px);
    animation-name: growLogo;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.41,.97,.59,.96);
    padding: 10px;
}

@keyframes growLogo {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);        
    }
}
